.btn-outline:hover {
    background-color: inherit;
}


.horizontal-card {
    width: 50rem;
    height: 25rem;
}

.horizontal-card-content, .horizontal-card-img-container,.card-details {
    height: 26rem;
}

.card-quantity {
    margin-top: 8px;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    /* height:fit-content; */
}


.quantity-btn {
    font-size: 2rem;
    /* width: 0.4rem; */
    padding: 4px 10px;
    border-radius: 50%;
    background-color: var(--color-primary-light);

}

.quantity-text{
    padding: 5px ;
}