/* || Navbar Stylesheet */
.ecom-nav {
    color: var(--color-text-dark);
    background-color: var(--color-white);
    padding-top: 8px;
}

.nav-title {
    color: var(--color-text-dark);
}

.ecom-title-container {
    text-decoration: none;
    padding: 0 5rem;
}

.nav-links-container-2 {
    padding: 0 5rem;
}

.nav-icon {
    color: var(--color-text-dark);
}


.nav-icon:hover {
    color: var(--color-primary);
}

.nav-link:hover {
    color: var(--color-primary);
    background-color: inherit;
}

.badge-num {
    background-color: var(--color-primary);
}

.nav-search {
    border-color: var(--color-gray-light);
    background-color: var(--color-gray-light);
}

.nav-search:focus {
    border: 1px solid var(--color-gray);
    outline: none;
}

.nav-btn {
    border-radius: 5px;
}

.nav-btn:hover {
    background-color: var(--color-primary);
    opacity: 0.9;
}